* {
  margin: 0;
  padding: 0;
}

/* Barra de rolagem */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: gray;
}

body::-webkit-scrollbar-thumb {
  background-color: #4c4c9c;
  border-radius: 20px;
  border: 3px solid #4c4c9c;
}

/* Menu Navbar */

.navbar {
  background-color: #161618;
}

.navbar .navbar-nav .nav-link.active {
  color: #25afe6;
}

.navbar-toggler>.close {
  display: inline;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: none;
}

.logo {
  font-size: 25px !important;
}

.logo i {
  margin-left: 10px !important;
}

.button-links {
  border: 1px solid #fff !important;
  border-radius: 5px !important;
  margin: 8px !important;
  text-align: center !important;
}

.button-links:hover {
  background-color: #646464
}

/* Global */

.container {
  width: 100%;
  color: #fff;
}

section {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #333;
}

/* Seção Início */

#home {
  min-height: auto;
  /* min-height: 100vh; */
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile img {
  margin-top: 80px;
  width: 230px;
  height: 230px;
  border-radius: 20%;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px #5d6b6e;
  text-align: center;
}


@media (max-width: 400px) {

  .container h1 {
    font-size: 20px;
  }

  .container p {
    font-size: 15px;
  }

}

@media (max-height: 430px) {

  #home {
    padding: 50px;
  }

}


.jumbotron {
  margin-bottom: 0px;
}

.icons-contact-home i {
  color: #fff;
  padding: 5px;
  transition: transform 0.3s ease-out;

}

.icons-contact-home i:hover {
  transform: scale(1.2);
  color: skyblue;
}

/* Formação */

#about {
  background-color: #8788c5;
  min-height: auto;
  /* min-height: 100vh; */
  padding-top: 100px;
  padding-bottom: 100px;
}

.slider-container {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #333;
  border-radius: 20px;
  padding-bottom: 60px;
}

/* Estilos do slider */
.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  text-align: center;
  padding: 20px;
}

.slide img {
  margin-top: 20px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

/* Estilos do texto e imagem */
.slide-text {
  margin-right: 20px;
}

/* Estilos da navegação */
.slider-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slider-nav li {
  margin: 0 5px;
}

.slider-nav button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-nav button:focus {
  outline: none;
}

.slider-nav button.active {
  background-color: skyblue;
  color: #fff;
}

.slide-text h3 {
  color: #fff;
  margin-bottom: 20px;
}

.slide-text p {
  max-width: 800px;
  text-align: justify;
  color: #fff;
  margin: 0 auto;
  margin-left: 10px;
}

/* Media queries */
@media screen and (max-width: 576px) {
  .slide-content {
    padding: 10px;
  }

  .slide-text h3 {
    font-size: 24px;
  }

  .slide-text p {
    font-size: 16px;
  }
}

/* Atuação */

#acting {
  min-height: auto;
  /* min-height: 100vh; */
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

/* Contato */

#contact {
  background-color: #8788c5;
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.icons-contact-contact i {
  color: #fff;
  font-size: 40px;
  padding: 5px;
  transition: transform 0.3s ease-out;

}

.icons-contact-contact i:hover {
  transform: scale(1.2);
  color: #161618;

}

/* Projetos */

#projects {
  min-height: auto;
  /* min-height: 100vh; */
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

/* Rodapé */

.icons-contact-footer a {
  font-size: 25px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #161618;
  text-align: center;
}