* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* BARRA DE ROLAGEM */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: gray;
}

body::-webkit-scrollbar-thumb {
  background-color: #4c4c9c;
  border-radius: 20px;
  border: 3px solid #4c4c9c;
}

/* MENU NAVBAR */

.navbar {
  background-color: #161618;
}

.navbar .navbar-nav .nav-link.active {
  color: #25afe6;
}

.navbar-toggler>.close {
  display: inline;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: none;
}

.logo {
  font-size: 25px !important;
}

.logo i {
  margin-left: 10px !important;
}

.button-links {
  border: 1px solid #fff !important;
  border-radius: 5px !important;
  margin: 8px !important;
  text-align: center !important;
}

.button-links:hover {
  background-color: #646464
}

@media (max-width: 280px) {

  .logo {
    font-size: 20px !important;
  }
}

/* GLOBAL */

.container {
  width: 100%;
  color: #fff;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #333;
}

.text-center h1 {
  margin-bottom: 30px;
}

/* INÍCIO */

#home {
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile img {
  margin-top: 80px;
  width: 230px;
  height: 230px;
  border-radius: 20%;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px #5d6b6e;
  text-align: center;
}

@media (max-width: 400px) {

  .container h1 {
    font-size: 20px;
  }

  .container p {
    font-size: 15px;
  }

}

@media (max-height: 430px) {

  #home {
    padding: 50px;
  }

}

.jumbotron {
  margin-bottom: 0px;
}

.icons-contact-home i {
  color: #fff;
  padding: 5px;
  transition: transform 0.3s ease-out;

}

.icons-contact-home i:hover {
  transform: scale(1.2);
  color: skyblue;
}

/* FORMAÇÃO */

#about {
  background-color: #8788c5;
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.em_title {
  margin-top: 12px;
}

.slider-container {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #333;
  border-radius: 20px;
  padding-bottom: 60px;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  text-align: center;
  padding: 20px;
}

.slide img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  padding: 18px;
}

.slide-text {
  margin-right: 20px;
}

.slider-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slider-nav li {
  margin: 0 5px;
}

.slider-nav button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-nav button:focus {
  outline: none;
}

.slider-nav button.active {
  background-color: skyblue;
  color: #fff;
}

.slide-text h3 {
  color: #fff;
}

.slide-text p {
  max-width: 800px;
  text-align: justify;
  color: #fff;
  margin: 0 auto;
  margin-left: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media screen and (max-width: 991px) {

  .prev,
  .next {
    display: none;
  }
}


@media screen and (max-width: 576px) {
  .slide-content {
    padding: 10px;
  }

  .slide-text h3 {
    font-size: 24px;
  }

  .slide-text p {
    font-size: 16px;
  }
}

@media (max-width: 280px) {

  .slider-container {
    padding-bottom: 50px;
  }

  .slide img {
    margin-top: 20px;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
  }
}

/* ATUAÇÃO */

#acting {
  min-height: auto;
  background-color: #383838;
  padding-top: 100px;
  color: #fff;
}

#acting .container {
  max-width: 900px;
}

#acting .jumbotron-heading h5 {
  color: skyblue;
}

#acting .lead {
  margin-top: 10px;
  text-align: justify;
  padding: 30px;
}

#brasao {
  width: 200px;
  margin: 0 auto;
  transition: transform 0.3s ease-out;

}

#brasao:hover {
  transform: scale(1.1);
}

#logoUfca {
  height: 250px;

}

#logoUfca2 {
  width: 200px;

}

#logoJava {
  height: 100px;
  margin-left: 20px;
  transition: transform 0.3s ease-out;

}

#logoJava:hover {
  transform: scale(1.1);
}

#logoEclipse {
  height: 80px;
  transition: transform 0.3s ease-out;

}

#logoEclipse:hover {
  transform: scale(1.1);
}

.techs {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  #acting .jumbotron-heading {
    font-size: 1.5rem;
  }

  #acting .lead {
    font-size: 16px;
  }
}


/* PROJETOS */

#projects {
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background-color: #8788c5;
}

#projects .container .text-center h1 {
  margin-bottom: 60px;
}

.card {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
  transition: transform 0.3s ease-out;
}

.card-body {
  background-color: #f0f8ff;
  border-radius: 15px;
}

.custom-card {
  max-width: 300px;
}

.card:hover {
  transform: scale(1.1);
}

.card-text-smaller {
  font-size: 14px;
}

.text-left {
  text-align: left;
}

.techlinks li {
  color: #44b8e6;
  margin: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #347f9c;
  margin-right: 10px;
  text-decoration: none;
}

.button i {
  color: #fff;
  font-size: 24px;
}

/* CONTATO */

#contact {
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.form-group input {
  background-color: #dfd5d5;
}

.form-group input:focus {
  background-color: #dfd5d5;
}

.form-group textarea {
  background-color: #dfd5d5;
}

.form-group textarea:focus {
  background-color: #dfd5d5;
}

form .text-center button {
  width: 150px;
  margin-top: 30px;
  color: #fff;
  background-color: #6366c5;
}

form .text-center button:hover {
  background-color: #8385c5;
}

.icons-contact-contact i {
  color: #fff;
  font-size: 40px;
  padding: 5px;
  transition: transform 0.3s ease-out;

}

.icons-contact-contact i:hover {
  transform: scale(1.2);
  color: #8385c5;
}


/* MODAL */

#modalImage {
  width: 30px;
  margin-left: 5px;
}

/* RODAPÉ */

.icons-contact-footer a {
  font-size: 25px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #161618;
  text-align: center;
}